NEXT_PUBLIC_CIVICSYNC_API_KEY=development-civicsync-api-key
NEXT_PUBLIC_CIVICSYNC_HOME_AFFAIRS_API_URL=http://localhost:5076
NEXT_PUBLIC_CIVICSYNC_SARS_API_URL=http://localhost:5077
NEXT_PUBLIC_CIVICSYNC_MUNICIPALITY_API_URL=http://localhost:5078
